* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;    
} 
.project-examples {
    position: relative;
    margin-bottom: 80px;
}
.projects1, .projects2 {
    display: flex;
}
.project-examples img {
    display: block;   
    height: 100%; 
}
.img1, .img3 {
    margin-right: 20px;
}
.img1 {
    margin-bottom: 20px;
}
.img4 {
    margin-top: -83px;
}
.white-icon {
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(5, 96, 136, 0.15);
    border-radius: 50%;
    position: absolute;
    transform: translate(140%, -175%);    
}
.white-icon::before {
    content: '';
    position: absolute;
    width: 78px;
    height: 60px;
    background: url(../image/Vector_55.png) no-repeat;
    transform: translate(60%, 60%);  
}
.white-icon p {    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #056088;
    position: absolute;
    transform: translate(35%, 410%); 
}
.works {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.works img {
    display: block;  
}
.img100, .img102, .img106, .works-column5 {
    margin-bottom: 20px;
}
.works-column1, .img103, .works-column3, .img105 {
    margin-right: 20px;
}
.works-column5 {
    display: flex;
}
